* {
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background-image: url("bitcoin.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

.container{
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.6);
    width: 70%;
    margin-left: 15%;
    padding: 5vh 0 5vh 0;
}

h1{
    text-align: center;
}

form{
    /*position: absolute;*/
    text-align: center;
    line-height: 4;
    /*top: 50%;*/
    margin: 2vh 0 0 0;
    font-family: "Helvetica-Neue-Bold";
}

label{
    line-height: 3vh;
    /*color: #1c7430;*/
    font-size: 1.5em;
    /*font: bolder;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button{
    position: relative;
    top: 40px;
    /*background-color: #1c7430;*/
    /*color: #1c7430;*/
}

input{
    font-size: 1.3em;
    margin-left: 2vw;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

footer{
    text-align: center;
    color:whitesmoke;
    position:absolute;
    bottom:0;width:100%;
    /*height:100px;*/
    /*background-color: rgba(255, 255, 255, 1);*/
}